/* .box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
} */

.img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: antiquewhite;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 2em;

} 

/* .box img {
    width: 100px;
    height: 100px;
} */